html { 
    font-size: 100%; 
}

:root {
    --primary-color: #FCF8E8 ;
    --secondary-color: #000000 ;
    --third-color: #ECB390;
}

.dark-mode { 
    --primary-color: #000000 ;
    --secondary-color: #C69749 ;
    --third-color: #735F32;
}


.header {
    text-align: center;
    padding: 20px;
    color: var(--secondary-color);
}

* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    background-color: var(--secondary-color);
}

.topnav a {
    float: left;
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: var(--third-color);
    color: black;
}

.sections, body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 800px;
}



body {
    background-color: var(--primary-color);
    font-family: "Lato", sans-serif;
    color: var(--secondary-color);
}


h2, h3 {
        font-size: 1.5rem;
        color: var(--third-color;)
}

a,p,li {
        font-size: 1.2rem;
}

/*a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
} 

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
} */

.counter {
    text-align: center;
}







