html { 
    font-size: 100%; 
}

.sections, body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

body {
    background-color: whitesmoke;
}

h1 {
    font-size: 2rem;
}

h2, h3 {
        font-size: 1.5rem;
}

a,p,li {
        font-size: 1.2rem;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.counter {
    text-align: center;
}