html { 
    font-size: 100%; 
}

:root {
    --primary-color: #FCF8E8 ;
    --secondary-color: #000000 ;
    --third-color: #ECB390;
    --aLinks:blue;
}

.dark-mode { 
    --primary-color: #000000 ;
    --secondary-color: #C69749 ;
    --third-color: #735F32;
    --aLinks: #e76f51;
}


.header {
    text-align: center;
    padding: 20px;
    color: var(--secondary-color);
}

* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    background-color: var(--secondary-color);
}

.topnav a {
    float: left;
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: var(--third-color);
    color: black;
}

.sections, body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 800px;
}


body {
    background-color: var(--primary-color);
    font-family: "Lato", sans-serif;
    color: var(--secondary-color);
}


h2, h3 {
        font-size: 1.5rem;
        color: var(--secondary-color)
}

a,p,li {
        font-size: 1rem;
}

a {
    color: var(--aLinks);
}
/*a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
} 

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
} */

.counter {
    text-align: center;
}


:root {
    --marginSidenav: 160px;
}

.sidenav {
    width: 240px;
    position:absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    background-color: rgb(231, 231, 231);
    overflow-x: hidden;
    padding: 10px;
}

.sidenav p {
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    color: #000000;
    display: block;
}

.main {
    margin-right: 240px;
    padding: 0px 10px;
}

.testiContainer {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

.testiContainer::after {
    content:"";
    clear: both;
    display: table;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav p {font-size: 18px;}
  }



