body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

.testimonial {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.cta {
  border: 5px solid #e43737;
  padding: 30px;
  margin-bottom: 20px;
}